p{
    color: black;
}
header{
    color: brown;
    margin: 8px;
    border: 1px solid;
    padding: 5px;
    box-sizing: border-box;
    width: 50%;
    border-radius: 32px;
    border: 3px dotted;
}
.materi{
    box-sizing: border-box;
    width: 50%;
}
.flex-materi{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.kiri{
    flex: 1;
    text-align: center;
}
.kanan{
    flex: 1;
    text-align: center;
}
